nibabel
networkx
scikit-learn
pandas
numpy
bids
requests
tqdm
pytest
fsl
nilearn
psutil
joblib
# added for permutation test implementation
scikit-learn
pandas
numpy
# logger replacement does not add new deps