[submodule "projects/PROJ-565-edit-compass-editreward-compass-a-unifie/external/Edit-Compass-and-EditReward-Compass"]
	path = projects/PROJ-565-edit-compass-editreward-compass-a-unifie/external/Edit-Compass-and-EditReward-Compass
	url = https://github.com/bxhsort/Edit-Compass-and-EditReward-Compass
