[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude = .git,__pycache__,build,dist,.venv,venv
per-file-ignores =
    code/dataset/generator.py:E501
    code/analysis/stats.py:E501
    code/bes/population.py:E501
count = True
show-source = True
statistics = True