[settings]
profile = black
line_length = 88
skip_gitignore = true
skip_glob =
    data/*,
    build/*,
    dist/*,
    *.egg-info,
    .eggs/*
known_first_party =
    init_venv,
    setup_project
known_third_party =
    numpy,
    pandas,
    scikit-learn,
    statsmodels,
    scipy,
    requests,
    hashlib,
    joblib,
    pytest,
    black,
    flake8,
    isort
sections =
    FUTURE,
    STDLIB,
    THIRDPARTY,
    FIRSTPARTY,
    LOCALFOLDER
force_sort_within_sections = true
order_by_type = true
case_sensitive = false
combine_as_imports = true
include_trailing_comma = true
use_parentheses = true
ensure_newline_before_comments = true