[settings]
profile = black
line_length = 100
known_third_party = torch,torch_geometric,sklearn,shap,pandas,numpy,yaml,pytest,pyarrow,huggingface_hub
known_first_party = src
known_local_folder = tests
skip = .git,data,venv,build,dist
