[MASTER]
extension-pkg-whitelist=
    numpy,
    scipy,
    astropy,
    healpy

[MESSAGES CONTROL]
disable=
    C0111,
    R0903,
    R0914,
    W0511,
    C0301

[FORMAT]
max-line-length=88
indent-string='    '
