# Core dependencies
transformers==4.44.0
torch==2.3.1
codecarbon==2.7.1
datasets==2.20.0
scikit-learn==1.5.1
pandas==2.2.2
matplotlib==3.9.1
seaborn==0.13.2

# Testing
pytest==8.3.2
pytest-mock==3.14.0

# Linting & Formatting
ruff==0.5.7
black==24.8.0
