# Python 3.11 dependencies for PROJ-353: Investigating the Effectiveness of Different Loss Functions
# Pinned versions to ensure reproducibility

networkx==3.2.1
torch==2.1.2
scikit-learn==1.3.2
statsmodels==0.14.1
lifelines==0.29.0
numpy==1.26.2
pandas==2.1.3
torch-geometric==2.4.0