# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Data
data/raw/
data/processed/
data/logs/
state/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
